.navigation
{
	// Layout
	display: flex;
	flex-flow: column nowrap;

	a
	{
		// Visual
		color: #212529;

		h1
		{
			margin-bottom: 0.75rem;
		}
	}

	.active
	{
		padding-left: 0.75rem;
		border-left: solid 0.5rem #26c6da;
	}

	.spacer
	{
		// Box Model
		border-top: solid 0.125rem #e0e0e0;
		margin-bottom: 1rem;
	}
}
