.split
{
	// Layout
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	.left
	{
		// Box Model
		height: 15rem;
		margin-right: 2rem;
		border-radius: 1rem;
	}

	.right
	{
		// Layout
		display: flex;
		flex-flow: column nowrap;

		a
		{
			// Visual
			color: #212529;

			h1
			{
				margin-bottom: 0.75rem;
			}
		}

		.spacer
		{
			// Box Model
			border-top: solid 0.125rem #212529;
			margin-bottom: 1rem;
		}
	}
}
