@use 'fonts';
@use 'reset';
@use 'gruvbox';
@use 'imports';

*::selection
{
	@extend .gruvbox-background;
	@extend .gruvbox-bg-foreground;
}

html
{
	@extend .gruvbox-foreground;
	@extend .gruvbox-bg-background;

	padding: 1.5rem 2rem;
	font-size: 1.5rem;
}

a
{
	@extend .gruvbox-blue;
	
	text-decoration: none;

	&:hover
	{
		text-decoration: underline;
	}
}

#root
{
	display: flex;
	flex-direction: column;

	.terminal
	{
		flex: 1 1 auto;
		cursor: text;
	}
}

.term-text
{
	font-family: fonts.$term-font;
	font-size: 1.5rem;
}

.prompt-line
{
	display: flex;

	.prompt-input
	{
		@extend .gruvbox-bg-background;
		@extend .term-text;
	
		flex: 1 1 auto;
		margin: 0;
		margin-bottom: 1.5rem;
		padding: 0;
		border: none;
		color: gruvbox.$foreground;
	}
}
